.staff-management {
  $primaryPadding: 25px;
  $boxShadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  $boxShadow2: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
  $primaryBorderColor: #eee;
  $textShadow1: 1px 1px 2px
    rgba(
      $color: #000000,
      $alpha: 0.4
    );

  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 5px;
    }
  }

  height: 100vh;
  padding: 0 15px;
  background: #ff8220;

  .staff-management__role-badge {
    font-weight: bold;
    font-size: 9px;
    border-radius: 12px;
    display: block;
    width: 72px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.staff-management__role-badge--cashier {
      background: #4bb543;
      color: white;
    }

    &.staff-management__role-badge--manager {
      background: #ff6f61;
      color: white;
    }

    &.staff-management__role-badge--importer {
      background: #039be5;
      color: white;
    }
  }

  .staff-management__body {
    width: 100%;
    height: 100%;

    .staff-management__body__staffs {
      width: 100%;
      height: 90vh;
      box-shadow: $boxShadow2;
      border-radius: 5px;
      background: white;
      position: relative;

      .staff-management__body__staffs__sidebar {
        height: 100%;
        width: 100%;
        background: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px solid $primaryBorderColor;

        .staff-management__body__staffs__sidebar__staff-details {
          padding-top: 3.6 * $primaryPadding;
          width: 100%;
          height: 33%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .staff-management__body__staffs__sidebar__staff-details__avatar {
            margin: 10px 0 5px 0;
          }

          .staff-management__body__staffs__sidebar__staff-details__basic-info {
            text-align: center;
            .staff-management__body__staffs__sidebar__staff-details__basic-info__role {
              font-size: 9px;
              color: rgba($color: #000000, $alpha: 0.4);
            }
          }
        }

        .staff-management__body__staffs__sidebar__staff-features {
          list-style: none;
          padding-left: $primaryPadding;
          padding: 0 10px;
          .staff-management__body__staffs__sidebar__staff-features__feature {
            cursor: pointer;
            padding: 5px 10px;
            background: #f1f3f5;
            color: gray;
            margin-bottom: 10px;
            border-radius: 3px;
            transition: 0.2s;

            &:hover {
              background: #ff8220;
              color: white;
              .staff-management__body__staffs__sidebar__staff-features__feature__info
                .staff-management__body__staffs__sidebar__staff-features__feature__info__name {
                color: white;
                font-weight: bold;
              }
            }

            .staff-management__body__staffs__sidebar__staff-features__feature__info {
              display: flex;
              flex-direction: column;
              padding-left: 10px;

              .staff-management__body__staffs__sidebar__staff-features__feature__info__name {
                font-size: 11px;
                color: rgba($color: #000000, $alpha: 0.7);
              }

              .staff-management__body__staffs__sidebar__staff-features__feature__info__description {
                font-size: 9px;
                color: silver;
              }
            }
          }
        }
      }

      .staff-management__body__staffs__content {
        box-sizing: border-box;
        height: 100%;
        background: #eee;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;

        .staff-management__body__staffs__content__toolbar {
          width: 100%;
          height: 60px;
          padding: 10px;
          display: flex;
          align-items: center;
          background: white;

          .ant-input-affix-wrapper {
            border-radius: 24px;
          }
        }

        .staff-management__body__staffs__content__list-staffs {
          position: relative;
          height: 100%;
          .staff-management__body__staffs__content__list-staffs__header {
            padding: $primaryPadding;
            background-color: #a40606;
            background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
            position: absolute;
            top: 0;
            left: 0;
            height: 40.4%;
            width: 100%;
            text-shadow: $textShadow1;

            .staff-management__body__staffs__content__list-staffs__header__dialogs {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 50px;
            }

            .staff-management__body__staffs__content__list-staffs__header__dark-bg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color: #000000, $alpha: 0.15);
              display: none;
            }

            $headerTextColor: white;

            .staff-management__body__staffs__content__list-staffs__header__role-selection {
              display: flex;
              align-items: center;

              .staff-management__body__staffs__content__list-staffs__header__role-selection__staft-total-by-role {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                margin-top: 20px;
                margin-left: 20px;
                padding: 1px 10px;
                color: white;
                background: orange;
                font-weight: bold;
                border-radius: 24px;
              }

              .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                border: 0;
                border-bottom: 1px solid #dcdcdc;
                background: transparent;
                color: $headerTextColor;
                height: 40px;
                font-size: 16px;
                padding: 0;
                padding-top: 11px;
                border-radius: 0;
                outline-style: none;
                box-shadow: none;
                font-weight: bold;
              }

              .ant-select-arrow {
                color: #dcdcdc;
                right: 5px;
                top: 27px;
              }
            }
          }

          .staff-management__body__staffs__content__list-staffs__wrapper {
            height: 74%;
            width: 97%;
            box-shadow: $boxShadow1;
            background: white;
            border-radius: 5px;
            position: absolute;
            z-index: 4;
            left: 1.5%;
            top: 15%;

            $tableFontSize: 10px;

            .staff-management__body__staffs__content__list-staffs__selected-row {
              background: #fff6e6;
            }

            .ant-table thead > tr > th {
              font-size: $tableFontSize;
              color: #ff8220;
              font-weight: bold;
            }

            .ant-table tbody > tr {
              transition: 0.2s;

              td {
                font-size: $tableFontSize;
                color: rgba($color: #000000, $alpha: 0.7);
                cursor: pointer;
                transition: 0.2s;

                .ant-empty-normal {
                  height: 330px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                }
              }
            }

            .ant-table tbody > tr:hover > td {
              background: none;
            }

            .ant-table-wrapper {
              border-radius: 5px;
              overflow: hidden;
              width: 100%;
            }

            .ant-table-body {
              height: 100%;
              @extend .styled-scrollbar;
            }

            .ant-table .ant-table-container::before,
            .ant-table .ant-table-container::after {
              width: 0;
            }
          }
        }
      }
    }
  }
}
