.toolbar {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 12px;
  padding-left: 24px;
  background: #ff8220;
  color: white;

  .__page-title {
    color: white;
    font-size: 16px;

    .__page-title__text {
      font-weight: bold;
      margin-left: 3px;
    }

    .__page-title__icon {
      padding: 5px;
      background: orange;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -2px;
    }
  }

  .__account {
    .__account__avatar-menu {
      cursor: pointer;
    }
  }
}
