.change-password {
  height: 100vh;
  overflow: hidden;
  background: #ff8220;
  display: flex;
  justify-content: center;
  align-items: center;

  .change-password__content {
    background: white;
    padding: 50px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    width: 38%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20vh;

    .change-password__content__div-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45%;

      .change-password__content__div-icon__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #ff8220;
        border-radius: 50%;

        .change-password__content__div-icon__icon-wrapper__icon {
          font-size: 35px;
          color: white;
        }
      }
    }

    .change-password__content__form {
      .change-password__content__form__btn-submit {
        background: #ff8220;
        color: white;
        border: 0;
        font-weight: bold;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 24px;
        min-width: 150px;
        min-height: 35px;
      }
    }

    .ant-form-item-has-error .ant-form-item-explain,
    .ant-form-item-has-error .ant-form-item-split {
      font-size: 10px;
    }

    .ant-form-item {
      label {
        font-size: 12px;
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }

    .ant-input {
      font-size: 12px;
    }
  }
}
